{% if site.post_license %}
{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
<div class="cryocopyright">
  <!--<DIV style="MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px">
      <IMG alt="" src="http://images.cnblogs.com/cnblogs_com/oec2003/219566/123.jpg" width=90 height=100>
  </DIV>-->
  <div id="cryoinfo">
    作者： <a href="{{ site.url }}/about">{{ author }}</a> <br/>
    出处： <a href="{{ site.url }}">{{ site.url }}</a><br/>
    本文基于 <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" target="_blank">CC 创作共用版权协议(2.5 License)</a> ，要求<font class="cryobold">署名、非商业用途和保持一致</font>。本博未标明[转载]字样的文章均为原创。转载本博原创作品(内容)也必须遵循“署名-非商业用途-保持一致”的创作共用协议，请务必以文字链接的形式标明或保留文章<a href="./" target="_blank" class="cryobold">原始出处</a>和博客作者(<a href="{{ site.url }}/about" target="_blank"><font class="cryobold">{{ author }}</font></a>)的信息。本博客(原创)内容，一经转载，即表示您已经接受上述声明！
  </div>
</div>
{% endif %}
